tr {
  display: flex;
  align-content: center;
  flex-direction: row;

}

th {
  padding-right: 38px;
}

td .value {
  width: 190px;
  height: 30px;
  background: rgb( 196 ,196 ,196 );
  text-align: center;
}
