.login {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.label-email {
  position: absolute;
  width: 124px;
  height: 59px;
  left: 371px;
  top: 211px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;
  color: #000000;
}

.label-senha {
  position: absolute;
  width: 139px;
  height: 59px;
  left: 371px;
  top: 423px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;
  color: #000000;
}

.input-email1 {
  position: absolute;
  width: 698px;
  height: 107px;
  left: 371px;
  top: 287px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.input-senha1 {
  position: absolute;
  width: 698px;
  height: 107px;
  left: 371px;
  top: 499px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.submit {
  position: absolute;
  width: 698px;
  height: 107px;
  left: 371px;
  top: 706px;
  background: #5FE122;
}
